@font-face {
    font-family: "Poppins";
    src: url("../../../fonts/poppins/Poppins-Regular.ttf");
    src: local('Poppins'), url("../../../fonts/poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 300;
}
